openai==0.27.0
llama-index==0.4.24
gradio==3.20.0
pypdf2==3.0.1
pycryptodome==3.17
transformers==4.28.1
langchain==0.0.153
tts==0.10.0
speechrecognition==3.10.0
pyaudio==0.2.13
google-api-python-client==2.86.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0